/* Created Variables to replace reused styles */
:root{
    --white-1: #ffffff;
    --white-2: #d9dcd6; 
    --blue: #2589bd;
    --dark-blue: #2a607c;
    --light-blue: #0072bb;
    --font-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white-2)
}

.header {
    padding: 20px;
    font-family: var(--font-1); 
    background-color: var(--dark-blue);
    color: var(--white-1)
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* h1 was deleted from below styling as it was unnecessary*/
.header .seo {
    color: var(--white-2);
    font-size: 48px;
}
/* .header div became nav to match html semantics*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font-2);
    font-size: 20px;
}
/* Took out UL line that was being overidden by LI elements.
added 3 LI elements together that were all styling the same way.  */
.header li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    color: var(--white-1);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/Docs/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*content and benefits sections were out of order. Moved content up to make more 
logical sense*/
/*.search-engine-optimization, .online-reputation-management, .social-media-marketing
 consolidated and labeled .content section to receive same outcome */
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--font-2);
    background-color: var(--light-blue);
    color: var(--white-1)
}
/*.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img,
edited to .content img, to have same effect and reduce redundancy   */
.content img {
    max-height: 200px;
}
/*.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2,
edited to .content h2, to have same effect and reduce redundancy   */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.benefits {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--font-2);
    background-color: var(--blue)
}
/* .benefit-lead, .benefit brand, and .benefit cost were able to be consolidated
 to .benefits section to remove redundancy*/
.benefits section {
    margin-bottom: 32px;
    color: var(--white-1)
}
/* .benefit-lead h3, .benefit brand h3, and .benefit cost h3 were able to be consolidated
 to .benefits h3 to remove redundancy*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* .benefit-lead img, .benefit brand img, and .benefit cost img were able to be consolidated
 to .benefits img to remove redundancy*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.footer {
    padding: 30px;
    clear: both;
    font-family: var(--font-1);
    text-align: center;
}
/* Footer header changed to h4 to differentiate from main section */
.footer h4 {
    font-size: 20px;
}
